[submodule "frontend"]
	path = frontend
	url = https://github.com/cluster-8/eFinance-front
[submodule "backend"]
	path = backend
	url = https://github.com/cluster-8/eFinance-api
[submodule "odata-scrapper"]
	path = odata-scrapper
	url = https://github.com/cluster-8/eFinance-odata-scrapper
