[submodule "frontend"]
	path = frontend
	url = https://github.com/cluster-8/eFinance-front
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/cluster-8/eFinance-api
	branch = main
[submodule "odata-scrapper"]
	path = odata-scrapper
	url = https://github.com/cluster-8/eFinance-odata-scrapper
	branch = main
[submodule "machine-learning-model"]
	path = machine-learning-model
	url = https://github.com/cluster-8/eFinance-ml-model
	branch = main
